node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
veda
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
ios/Pods/
ios/build/
android/.gradle/
android/app/build/
android/build/
android/local.properties
yarn-error.log
.env*
!.env.example
